.map {
  padding: 10px;
}

#map-wrap {
  padding: 20px;
}

.scatter-gl-container-layer {
  justify-content:center;
  width: 400px;
  height: 400px;
}

.scatter-gl-wrapper-layer {
  margin-left: auto;
  margin-right: auto;
}

#epoch-val {
  text-align: center;
}

#map-contents{
  background-color:#fff;
  display:grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
  height: 80%;
  min-height: 80vh;
}

.hyperparameter-menu{
  width: 400px;
  height: 200px;
  background-color: #1C3543;
}

