.map {
  padding: 10px;
}

#map-wrap {
  padding: 20px;
}

.scatter-gl-container-layer {
  justify-content:center;
  width: 100%;
  height: 50%;
}

.scatter-gl-wrapper-layer {
  margin-left: 5%;
  margin-right: 5%;
}

.scatter-gl-layer-label {
  margin-top: -70%;
  font-size: large;
  padding-left: 10px;
  padding-top: 5px;
}

#epoch-val {
  text-align: center;
}

#map-contents{
  background-color:#fff;
  display:grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100%;
  height: 80%;
  min-height: 80vh;
}

.hyperparameter-menu{
  width: 100%;
  /* height: 200px; */
  background-color: #1C3543;
}

