/* Add a black background color to the top navigation */
.topnav {
  background-color: #1C3543;
  overflow: hidden;
  height: 50px;
}

.logo-text {
  float: right;
  padding: 5px 0;
  font-size: 30px;
  margin-right: 20px;
  color: white;
}