/* Add a black background color to the top navigation */
.topnav {
  background-color: #E0E0E0;
  display: flex;
  width: 100%;
  align-items: center;
}

.logo-text {
  padding: 5px 0;
  font-size: 30px;
  margin-left: 20px;
  color: #000000;
  width: 50%;
}

.class-menu {
  float: right;
  width: 50%;
  color: white;
}