/* Add a black background color to the top navigation */
.topnav {
  background-color: #F3F3F3;
  display: flex;
  width: 100%;
  align-items: center;
}

.logo-text {
  padding: 5px 0;
  font-size: 36px;
  margin-left: 20px;
  color: #000000;
  padding-right: 1vw;
}

.class-menu {
  float: left;
  color: white;
  margin-left: auto;
}

.epoch {
  padding-left: 1vw;
}

.epoch-slider{
  width: 15%;
  margin-left: 20px;
  padding-right: 3vw;
}

#epoch-label{
  font-size: 20px;
}

#epoch-val{
  font-size: 20px;
}